h1{
    color:blueviolet;
    text-align: center;
}

select{
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
}
h2{
    text-align: center;
}
.dd{
    align-items: center;
    text-align: center;
}